fastapi==0.88.0
PyMySQL==1.0.2
deta==1.1.0
python-multipart==0.0.5
SQLAlchemy==1.4.45
uvicorn==0.20.0
pytz==2023.3
websockets==11.0.3
APScheduler==3.10.1
schedule==1.2.0
requests==2.31.0
cryptography==41.0.2
Pillow==10.0.0

# bcrypt==4.0.1
# pycryptodome==3.18.0
